<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link color="#000" href="img/icon.svg" rel="mask-icon" />
  <link href="img/favicon-apple.png" rel="apple-touch-icon-precomposed" />
  <link href="img/favicon.ico" rel="icon" />
  <link href="img/favicon.png" rel="icon" sizes="192x192" />
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
</body>
<!--homepage-->
<template name="home">
  {{> homepage}}
  {{> footer}}
</template>
<!--moi-->
<template name="moi">
  <div class="pane">
    <img class="rounded" src=img/moi.png>
    <h2>Je suis Jérôme Commaret</h2>
    <p>J'ai fait ma scolarité à <a href="http://www.hetic.net">Hétic</a>, ce qui m'a apporté des compétences transverses</p>
    <p>Le mobile first est ma philosphie</p>
    <p>J'aime apporter des solutions créatives et techniques</p>
    <p>Je sais travailler avec Wordpress, Meteor.js, en HTML5, CSS3, Javascript ou Php et j'automatise mon wordkflow avec gulp et sass</p>
    <p>Je blogue aussi bien technique qu'anti-sexisme sur <a href="https://medium.com/@jcommaret">Medium</a></p>
    <p>Une des preuves de concept que j'ai développée a été récompensée d'un mobile marketing awards</p>
    <p>L'équipe que je gérais a été classée dans les 50 meilleurs sur plus de 2000 par google lors d'un challenge étudiant</p>
    <p>Si vous voulez en savoir plus allez sur mon <a href="https://fr.linkedin.com/in/jcommaret">LinkedIn</a></p>
    <p>Vous pouvez également trouver mes projets personnels sur <a href="https://gitlab.com/TheCreativeCat">Gitlab</a></p> 
    <p>J'aime les chats !</p>
  </div>
  {{> footer}}
</template>

<template name="homepage">
  <div class="pane">
    <img class="logo" src=img/tcc.png>
    <h1>The Creative.Cat</h1>
  </div>
</template>

<template name="experiments">
  <div class="pane">
    <!--Twélé.tv card-->
    <div class="card">
      <div class="item item-divider">
        Twélé.tv
      </div>
      <div class="item item-text-wrap">
        <strong>Problème :</strong> L'interface permettant de twitter et de regarder la tv est cassée, il s'agit de 2 écrans.<br/>
        <strong>Solution :</strong> Twélé.tv est une application permettant de croiser twitter et la tv.<br/>
        <strong>Problématiques :</strong> Au delà de l'interface, il fallait réussir à utiliser des flux directs sur iPhone.<br/>
        <strong>Business model :</strong> Utiliser une analyse sématique en temps réel afin de vendre ce service aux chaines.<br/>
          <a href="https://gitlab.com/TheCreativeCat/twele"> 
            <button color="secondary" class="disable-hover button button-ios button-default button-default-ios">
            Le Gitlab du projet
            </button>
          </a>
        </div>
    </div>
    <!--Tu es où ?.tv card-->
    <div class="card">
      <div class="item item-divider">
        T'es où ?
      </div>
      <div class="item item-text-wrap">
        <strong>Problème :</strong> Répondre facilement a une question toute bête : tu es où ?<br/>
        <strong>Solution :</strong> Une application permettant d'envoyer par sms la localistaion d'une personne.<br/>
        <strong>Problématiques :</strong> Géolocalisation, compatibilité cross devices...<br/>
        <strong>Facteur de différentiation :</strong> Ne pas utiliser les données "classiques" d'utilisateurs.<br/>
        <a href="https://gitlab.com/TheCreativeCat/tuesou"> 
        <button color="secondary" class="disable-hover button button-ios button-default button-default-ios">
          Le Gitlab du projet
        </button>
        </a>
      </div>
    </div>
    <!--Purnhub-->
    <div class="card">
      <div class="item item-divider">
        Porncat
      </div>
      <div class="item item-text-wrap">
        <strong>WTF :</strong> Un jour, j'ai vu mon chat allumer mon ordinateur, je me suis dit que l'étape d'après, il irait acheter ces croquettes, et que beaucoup plus tard, quand il s'ennuyerait...<br/>
        <strong>Solution :</strong> Un site pornographique pour les chats<br/>
        <strong>Problématiques :</strong> LOL<br/>
        <strong>Pourquoi ?</strong> Le fun<br/>
        <a href=" https://gitlab.com/TheCreativeCat/purnhub"> 
        <button color="secondary" class="disable-hover button button-ios button-default button-default-ios">
          Le Gitlab du projet
        </button>
      </a>
      </div>
    </div>
  </div>
  {{> footer}}
</template>
<template name="footer">
  <div class="bar bar-footer bar-dark">
    <div class="button-bar">
      <a class="button" href="/"><i class="ion-home"></i></a>
      <a class="button" href="moi"><i class="ion-person"></i></a>
      <a class="button" href="experiments"><i class="ion-erlenmeyer-flask"></i></a>
      <!--<a class="button" href="projets"><i class="ion-briefcase"></i></a>-->
      <a class="button" href="mailto:miaou@thecreative.cat"><i class="ion-email"></i></a>
    </div>
  </div>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3523817-13', 'auto');
  ga('send', 'pageview');

</script>
</template>
