body{
  font-family: 'Roboto';
  font-weight: thin;
}

.pane{
  height:900px;
  background:url("img/background.png");
}

.logo, .rounded{
  margin: auto;
  display: block;
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}
.logo{
  margin-top: 100px;
}
.rounded{
  margin-top: 50px;
}
h1, h2, p{
  font-weight: 100;
  text-align: center;
  color:#FFF;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1s; /* Firefox < 16 */
        -ms-animation: fadein 1s; /* Internet Explorer */
         -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;
}
h2{
  margin-bottom: 40px;
}
p{
  font-weight: normal;
  margin-left: 10px;
  margin-right : 10px;
}
a{
  color:#FFF;
}
.bar-footer {
  position: fixed;
  bottom: 0px;
}
.rounded{
  margin: auto;
  margin-top: 100px;
  display: block;
	width: 150px;
	height: 150px;
	border-radius: 75px;
	-webkit-border-radius: 75px;
	-moz-border-radius: 75px;
	background: url("img/moi.png") no-repeat;
}
.card {
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s;
}

i{
  font-size: 20px;
}
.item-text-wrap a{
  margin-top:20px;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}